<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' -->
    <!-- <script src="{{ url_for('static', filename='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js') }}"></script> -->

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/bootstrap.css') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/style.css') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/navbar.css') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/homepage.css') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/about.css') }}"/>

    <script src="{{ url_for('static', filename='JavaScripts/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScripts/navbar.js') }}"></script>
    
    <title>Celeb Matcher</title>
</head>

<body>
    <header>
        <nav class="stroke">
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                LOGO
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- <div class="home">
        <img class="homepage" src="{{ url_for('static', filename='Assets/Homepage.png') }}" alt="">
        <img class="upload" src="{{ url_for('static', filename='Assets/Face blur.png') }}" alt="">
    </div> -->

    <div class="container">
        <div class="row">
            <h2>Select a file to upload</h2>
            <p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            </p>
            {% if filename %}
                <div>
                    <img src="{{ url_for('display_image', filename=filename) }}">
                </div>
            {% endif %}
            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" class="form-control" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit" class="btn btn-info">
                </p>
            </form>
        </div>
    </div>

    <section>
        <div class="about">
            <img src="{{ url_for('static', filename='Assets/About.png') }}" alt="">
        </div>
    </section>
    
</body>
</html>